@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

:root {
      --font-total: 'Open Sans', sans-serif;
      --cor-bk: #eaf2ef;
      --cor-bk-sec: #d2d8d643;
}

body {
      font-family: var(--font-total);
      background-color: var(--cor-bk);
      color: #0f0f0f;
}

* {
      margin: 0px;
      padding: 0px;
}

#nav-items {
      display: flex;
      list-style-type: none;
      justify-content: center;
      
}

#nav-items li {
      padding: .625rem;
}

#nav-items a {
      color: #0f0f0f;
      font-weight: 600;
      text-decoration: none;
}

#nav-items a:hover {
      color: #0f0f0f76;
      transition: 200ms ease;
}

.container {
      margin: .625rem 0rem;
}

.bk-color {
      background-color: var(--cor-bk-sec);
      border-radius: 0 0 .625rem .625rem;
}

div#about-me {
      display: flex;
      justify-content: space-between;
}
  
#eu-texto {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: .625rem;
      justify-content: center;
}
  
.eu-foto {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.title {
      text-align: center;
      padding-top: 15px;
      padding-bottom: .9375rem;
}

#description {
      width: 96%;
}

.eu-foto img {
      width: 15.625rem;
      height: 15.625rem;
      border-radius: 50%;
      padding: 1.25rem;
}

div#form-academica {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
}

.general {
      list-style-type: none;
      width: 96%;
      padding: .625rem 0rem;
}

.general li {
      font-weight: 600;
}

.general div {
      padding: .625rem;
}

div#jobs {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
}

.general-hobby {
      justify-content: space-around;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;
      align-items: center;
}

.general-hobby li {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1.25rem;
}

.general-hobby img {
      width: 10.625rem;
      height: 10.625rem;
      border-radius: 50%;
      margin-bottom: .9375rem;
}

div#motive-tech {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
}

#motive {
      width: 96%;
      text-align: justify;
      padding: 0.625rem;
}

#social {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

#social a {
      padding: 10px;
}

#social a img {
      width: 50px;
      height: 50px;
}


